<!-- Third Column -->
<div class="notes-section-container">
  <div class="notes-wrapper">
    <h1>
      Completed
    </h1>

    <div class="notes-task-container">
      <h2>Task Title</h2>
      <p class="task-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex mollitia
        atque, assumenda error ut
      </p>
      <div class="todo-task-options">
        <div class="user-details">User:Prathamesh </div>
        <div>Date:10/05/2022</div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">

          <button type="button" class="btn btn-warning">Edit</button>

        </div>

        <!-- <p>...</p> -->
      </div>
      <label class="task-label">High</label>
    </div>
  </div>
  <div class="notes-wrapper">

    <div class="notes-task-container">
      <h2>Task Title</h2>
      <p class="task-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex mollitia
        atque, assumenda error ut
      </p>
      <div class="todo-task-options">
        <div class="user-details">User:Prathamesh </div>
        <div>Date:10/05/2022</div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">

          <button type="button" class="btn btn-warning">Edit</button>

        </div>
        <!-- <p>...</p> -->
      </div>
      <label class="task-label">High</label>
    </div>
  </div>
  <div class="notes-wrapper">

    <div class="notes-task-container">
      <h2>Task Title</h2>
      <p class="task-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex mollitia
        atque, assumenda error ut
      </p>
      <div class="todo-task-options">
        <div class="user-details">User:Prathamesh </div>
        <div>Date:10/05/2022</div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">

          <button type="button" class="btn btn-warning">Edit</button>

        </div>

        <!-- <p>...</p> -->
      </div>
      <label class="task-label">High</label>
    </div>
  </div>

</div>
